<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/styles.css">

    <title>URL Shortener</title>

</head>

<body>

    <div class="container">

        <h1>URL Shortener</h1>

        <form id="shorten-form" action="/short" method="post">

            <label for="url">Enter URL:</label>

            <input type="url" id="url" name="url" required>

            <label for="custom_id">Custom ID (Optional):</label>

            <input type="text" id="custom_id" name="Alice">

            <input type="hidden" name="api" value="api1">

            <button type="submit">Shorten</button>

        </form>

        <div id="result"></div>

    </div>

    <script src="/static/js/main.js"></script>

</body>

</html>